
@property --rotate {
syntax: "<angle>";
initial-value: 132deg;
inherits: false;
}

:root {
--card-height: 65vh;
--card-width: calc(var(--card-height) / 1.5);
}




.card {
padding: 3px;
position: relative;
border-radius: 50%;
justify-content: center;
align-items: center;
text-align: center;
display: flex;
font-size: 1.5em;
color: rgb(88 199 250 / 0%);
cursor: pointer;
font-family: cursive;
}



.card::before {
content: "";
width: 104%;
height: 102%;
border-radius: 50%;
background-image: linear-gradient(
var(--rotate)
, #f1a0eb, #da46d2 43%, #380485);
position: absolute;
z-index: -1;
top: -1%;
left: -2%;
animation: spin 2.5s linear infinite;
}

.card::after {
position: absolute;
content: "";
left: 0;
right: 0;
z-index: -1;
height: 100%;
width: 100%;
margin: 0 auto;
transform: scale(0.8);
filter: blur(calc(var(--card-height) / 6));
background-image: linear-gradient(
var(--rotate)
, #5ddcff, #d317aa 43%, #8b5ece);
opacity: 1;
transition: opacity .5s;
animation: spin 2.5s linear infinite;
}

@keyframes spin {
0% {
--rotate: 0deg;
}
100% {
--rotate: 360deg;
}
}

a {
color: #212534;
text-decoration: none;
font-family: sans-serif;
font-weight: bold;
margin-top: 2rem;
}
