#containerFooter{
  background-color: #06002e;
}
#testimonialId{
  background-color: #ffff;
}
#acheive{
  background-color: #06002e;
}

#skills{
  background-color: #06002e;
}


.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}